
.container.blog-detail .main-img {
    width: 100%;
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
}

.container.blog-detail .similar-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    margin-bottom: 30px;
}

.container.blog-detail .similar-container h2 {
    grid-column: 1 / span 4;
}