.container.contact {
    width: 800px;
    display: grid;
    grid-template-columns: repeat(2,minmax(0,1fr));
}
.container.contact label{
    display: block;
    font-weight: bold;
    margin-block: 15px;

}
.container.contact input,
.container.contact textarea{
    width: 100%;
    box-sizing: border-box;
    height: 40px;
    border: 1px solid black;
    padding-inline: 15px;
    outline: none;
    font-size: 14px;
}
.container.contact textarea{
    height: initial;
    padding-block: 15px;
}
.container.contact button{
    background-color: var(--blue);
    color: white;
    border: 0;
    font-size: 16px;
    padding:10px 20px;
    margin-bottom: 10px;
}