@import url(./fonts.css);
@import url(./colors.css);
*{
    font-family: 'Noto Sans', sans-serif;
    box-sizing: border-box;
}
body{
    margin: 0;
    min-height: 100vh;
}
.container{
    width: 992px;
    margin: auto;
}
.view-port-fit{
    min-height: calc(100vh - (70px + 80px));
}

.d-flex{
    display: flex;
    
}
header{
    height: 70px;
    background-color: var(--violet);
    align-items: center;
}
header .container{
    align-items: center;

}
header .logo{
    width: 45px;
    height: 45px;
}
header .mobile-menu {
    display: none;
    color: white;
}
nav{
    display: flex;
    width: calc(100% - 45px);
    justify-content: space-between;
}
nav a{
    color:white;
    text-decoration: none;
    padding: 18px;
}
nav a:hover{
    text-decoration: underline;
    
}
footer{
    height: 80px;
    background-color: var(--orange);
    padding: 15px 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}
footer p{
    margin: 0;
}
.auth-form-container{
    width: 300px;
    min-height: 200px;
    border: 1px solid #ccc;
    margin: auto;
    padding: 15px;
    box-sizing: border-box;
}
.auth-form-container .text-input-label{
    display: block;
    margin-bottom: 5px;
}
.auth-form-container .text-input,
.auth-form-container .location{
    height: 30px;
    width: 100%;
    display: block;
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
    border: 1px solid black;
}
.auth-form-container .location{
    background-color: white;
    
}
.group-form{
    margin-bottom: 15px;
}
.w-100{
    width: 100%;
}
.mb-15{
    margin-bottom: 15px;
}
.btn{
    display: block;
    font-size: 16px;
    height: 35px;
    text-align: center;
    border: 0;
    cursor: pointer;
}
.btn-primary{
    background-color: var(--blue) ;
    color: white;


}
.btn-link{
    text-decoration: none;
    line-height: 35px;
    color: var(--violet);
}
.btn-link:hover{
    text-decoration: underline;
}


.sex-container{
    display: inline-block;
}
.body-container{
    padding: 30px 0;
    min-height: calc(100vh - 70px - 60px);
    box-sizing: border-box;
}

.main-category-item{
    flex-grow: 1;
    border: 1px solid rgb(235, 235,235);
    text-align: center;
    padding: 15px 20px;
    text-decoration: none;
    color: black;
    
}
.main-category-item:hover{
    border-color: black;
    background-color: rgb(233, 233,233);
}
.main-category-item:first-child{
    margin-left: 0;

}
.main-category-item:last-child{
    margin-right: 0;
}
.main-category-item img{
    width: 45px;
    height: 45px;
}
.category-navigation-list{
    border: 1px solid rgb(235, 235,235);
    flex-basis: 20%;
    margin: 0;
    padding: 25px 0 25px 40px;
    list-style: none;
}
.category-navigation-list a{
    padding: 5px 0;
    text-decoration: none;
    color: rgb(80, 80, 80);

}
.category-navigation-list a:hover{
    text-decoration: underline;
    color: blue;
}
.d-block{
    display: block;
}

.blog-container{
    display: grid;
    grid-template-columns: repeat(3,minmax(0,1fr));
    gap: 15px ;
    grid-column: 2/5;
}
.blog-main-container{
    display: grid;
    grid-template-columns: repeat(4,minmax(0,1fr));
    gap: 15px;
}
